.demo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em 5%;
  border-bottom: 1px solid blue;
  background-color: #ffe400;
  color: blue;
  line-height: 0;
}

.demo h4 {
  font-weight: bold;
}

.demo a {
  color: blue;
}

.demo a:hover {
  text-decoration: underline;
}

.theme-menu {
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 0;
  width: 250px;
  padding: 16px 16px 0;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

.theme-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

[data-theme-settings="hidden"] + .theme-menu,
[data-theme-auto-options="hide"] {
  display: none;
}

[data-theme-settings="show"] + .theme-menu {
  display: block;
}

[data-theme-auto-options="show"] {
  display: flex;
}
